.cart-link {
  position: fixed;
  right: 10px;
  top: 10px;
  color: #808080;
  width: 65px;
  height: 65px;
  font-size: 32px;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: -5px 5px 10px 2px rgba($color: #000000, $alpha: 0.3);
  transition: .3s;
  &:hover{
      box-shadow: -7px 7px 12px 4px rgba($color: #000000, $alpha: 0.4);
      color: black;
  }

}
