<div class="product-details">
  <section>
    <h3>Beats Solo Wireless Headphones</h3>
    <div class="text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
  </section>

  {{! PRICE }}

  <section>
    <del class="small text-black-50">$300.95</del>
    <i class="text-danger font-weight-bold">$199.95</i>
  </section>
</div>
