{{page-title "Item"}}

<GeneralContainer>
  {{! Achei mais bonito sem }}
  {{! <div class="product"> }}
    <Product::Image />
    <Product::Details />
  {{! </div> }}
  
  <h5 class="mt-5">Features</h5>

</GeneralContainer>

{{outlet}}
